html{
	height: 100%;
	width: 100%;
}
body {
	background-color: #232323;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: "Montserrat", "Avenir";
}

.gameTable{
	min-width: 400px;
	min-height: 400px;
	margin: 2px auto;
	border: 2px solid #232323;
}
.row{
	min-width: 400px;
	min-height: 40px;
}
.cell{
	float: left;
	margin: 2px;
	border-radius: 15%;
	border: 1px seagreen solid;
	transition: background 0.4s;
	background-color: seagreen;
	width: 30px;
	height: 30px;
}

.blackPlayerTurn{
	background-color: black;
	color: white;
	width: 40px;
	height: 40px;
}

.whitePlayerTurn{
	background-color: white;
	color: black;
	width: 40px;
	height: 40px;
}

.circle{
	border-radius: 50%;
	width: 30px;
	height: 30px;

}
.blackCircle{
	background-color: black;
}
.whiteCircle{
	background-color: blanchedalmond;
}
.validCell{
	border:1px rgb(35, 175, 240) solid;
}

.invalidCell{
	border:1px rgb(228, 90, 102) solid;
}

#theGame{
	max-width: 600px;
	max-height: 600px;
	margin: 20px auto;
}

h1{
	color: white;
	text-align: center;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	background-color: seagreen;
	line-height: 1.1;
	padding: 20px 0;
}

#stripe{
	background: white;
	height: 30px;
	text-align: center;
	color: black;

}
.selected{
	background-color: rgb(100, 170,220);
	color: white;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	color: seagreen;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.4s;
}
#message{
	display: inline-block;
	width: 20%;
}

button:hover{
	color: white;
	background-color: seagreen;
}